In [3]:
import pandas as pd

In [2]:
#series      -> 1dimensional
#data frames -> 2D Rows & Col

In [8]:
import pandas as pd
import numpy as np
s = pd.Series()
print(s)

Series([], dtype: float64)

C:\Users\shamh\AppData\Local\Temp\ipykernel_15968\755669514.py:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

In [9]:
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d','e'])
s = pd.Series(data)

print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [10]:
import pandas as pd                         #customized index values
import numpy as np
data = np.array(['a','b','c','d','e'])
s = pd.Series(data, index=[100,101,102,103,105])

print(s)

100    a
101    b
102    c
103    d
105    e
dtype: object

In [11]:
import pandas as pd  #series from dict
import numpy as np
data ={'a': 0.1,'b':1.0, 'c':2.0}
s = pd.Series(data)

print(s)

a    0.1
b    1.0
c    2.0
dtype: float64

In [14]:
import pandas as pd
import numpy as np
data = {'a': 0.1,'b':'sham', 'c':2.0}
s = pd.Series(data, index = ['b','c','d','a'])

print(s)

b    sham
c     2.0
d     NaN
a     0.1
dtype: object

In [16]:
#from scalar
s = pd.Series(5, index = [0,1,2,3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

# ACCESS

In [17]:
s  = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
print(s[1]) #position

2

In [18]:
print(s['b']) #index

2

In [19]:
print(s[:3])

a    1
b    2
c    3
dtype: int64

In [20]:
print(s[-3:])

c    3
d    4
e    5
dtype: int64

In [21]:
#retrieve
s  = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
print(s['b']) #index

2

In [25]:
print(s[['a','c','e']]) #[DATA[ELEMENT]] Accesing multiple values and specific elements

a    1
c    3
e    5
dtype: int64

# DATA FRAME

In [26]:
#pandas.DataFrame(data, index, column, dtype, copy)
#list
#dic
#series
#numpy
#another df

In [27]:
df = pd.DataFrame() #Empty DataFrame
print(df)

Empty DataFrame
Columns: []
Index: []

In [28]:
#list
data = [1,2,3,4,5]
df =pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [30]:
#list
data = [['alex', 10],['bob', 20],['clarke', 30]]
df = pd.DataFrame(data, columns = ['name','age'])
print(df)

     name  age
0    alex   10
1     bob   20
2  clarke   30

In [31]:
#list                                                                #not advisable but possible
data = [['alex', 10],['bob', 20],['clarke', 30]]
df = pd.DataFrame(data, columns = ['name','age'], dtype =float)
print(df)

     name   age
0    alex  10.0
1     bob  20.0
2  clarke  30.0

C:\Users\shamh\AppData\Local\Temp\ipykernel_15968\97299264.py:3: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(data, columns = ['name','age'], dtype =float)

In [36]:
#dict
data = {'Name':['tom','jack','steve','ricky'], 'AGE':[28,29,29,40]}
df = pd.DataFrame(data)
print(df)

    Name  AGE
0    tom   28
1   jack   29
2  steve   29
3  ricky   40

In [37]:
#dict
data = {'Name':['tom','jack','steve','ricky'], 'AGE':[28,29,29,40]}
df = pd.DataFrame(data,index = ['rk1','rk2','rk3','rk4'])
print(df)

      Name  AGE
rk1    tom   28
rk2   jack   29
rk3  steve   29
rk4  ricky   40

In [38]:
#from list of dict
data = {'a':1,'b':2},{"a":4,'c':8},{'a':7,'b':8,'c':9}
df = pd.DataFrame(data)
print(df)

   a    b    c
0  1  2.0  NaN
1  4  NaN  8.0
2  7  8.0  9.0

In [39]:
#from list of dict
data = {'a':1,'b':2},{"a":4,'c':8},{'a':7,'b':8,'c':9}
df = pd.DataFrame(data,index = ['first','second','third'], columns = ['a','c'])
print(df)

        a    c
first   1  NaN
second  4  8.0
third   7  9.0

In [40]:
data = {'a':1,'b':2},{"a":4,'c':8},{'a':7,'b':8,'c':9}      # when 
df = pd.DataFrame(data,index = ['first','second','third'], columns = ['a','d'])
print(df)

        a   d
first   1 NaN
second  4 NaN
third   7 NaN

In [44]:
#dict of series
d ={'one':pd.Series([1,2,3], index = ['a','b','c']), 'two':pd.Series([1,2,3,4], index = ['a','b','c','d'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [45]:
#dict of series
d ={'one':pd.Series([1,2,3], index = ['a','b','d']), 'two':pd.Series([1,2,3,4], index = ['a','b','c','d'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  NaN    3
d  3.0    4

In [46]:
# one column alone
d ={'one':pd.Series([1,2,3], index = ['a','b','d']), 'two':pd.Series([1,2,3,4], index = ['a','b','c','d'])}
df = pd.DataFrame(d)
print(df['one'])

a    1.0
b    2.0
c    NaN
d    3.0
Name: one, dtype: float64

In [47]:
# one column alone
d ={'one':pd.Series([1,2,3], index = ['a','b','d']), 'two':pd.Series([1,2,3,4], index = ['a','b','c','d'])}
df = pd.DataFrame(d)

print('ADDING NEW COLUMN BY PASSING SERIES')
df['Three'] = pd.Series([10,20,30], index = ['a','b','d'])
print(df)
print('ADDING NEW COLUMN WITH EXISTING')
df['four'] = df['one'] +df['Three']
print(df)

ADDING NEW COLUMN BY PASSING SERIES
   one  two  Three
a  1.0    1   10.0
b  2.0    2   20.0
c  NaN    3    NaN
d  3.0    4   30.0
ADDING NEW COLUMN WITH EXISTING
   one  two  Three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  NaN    3    NaN   NaN
d  3.0    4   30.0  33.0

In [49]:
# one column alone
d ={'one':pd.Series([1,2,3], index = ['a','b','d']), 'two':pd.Series([1,2,3,4], index = ['a','b','c','d'])}
df = pd.DataFrame(d)

print('ADDING NEW COLUMN BY PASSING SERIES')
df['Three'] = pd.Series([10,20,30], index = ['a','b','d'])
print(df)
print('ADDING NEW COLUMN WITH EXISTING')
df['four'] = df['one'] +df['three'] # when we add if there is no specific value 'three for Three' ---KeyError: 'three'
print(df)

ADDING NEW COLUMN BY PASSING SERIES
   one  two  Three
a  1.0    1   10.0
b  2.0    2   20.0
c  NaN    3    NaN
d  3.0    4   30.0
ADDING NEW COLUMN WITH EXISTING

KeyError: 'three'

In [56]:
d ={'one':pd.Series([1,2,3], index = ['a','b','d']), 'two':pd.Series([1,2,3,4], index = ['a','b','c','d']), 
    'three': pd.Series([11,21,31], index = ['a','b','d'])}
print('our data')
print(d)
#del fun
print("deleting using Del")
del d['one']
print(d)
#pop fun
print("deleting using pop")
d.popitem('two')
print(d)

our data
{'one': a    1
b    2
d    3
dtype: int64, 'two': a    1
b    2
c    3
d    4
dtype: int64, 'three': a    11
b    21
d    31
dtype: int64}
deleting using Del
{'two': a    1
b    2
c    3
d    4
dtype: int64, 'three': a    11
b    21
d    31
dtype: int64}
deleting using pop

TypeError: dict.popitem() takes no arguments (1 given)