In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1,2],[3,4]], columns = ['a','b'])      #adding another by append
df2 = pd.DataFrame([[5,6],[7,8]], columns = ['a','b'])
df = df.append(df2)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

C:\Users\shamh\AppData\Local\Temp\ipykernel_16900\2855893277.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2)

In [3]:
df =df.drop(0)

In [4]:
print(df)

   a  b
1  3  4
1  7  8

In [5]:
df = pd.DataFrame([[1,2],[3,4]], columns = ['a','b'])      #adding another by append
df2 = pd.DataFrame([[5,6],[7,8]], columns = ['c','d'])
df = df.append(df2)
print(df)

     a    b    c    d
0  1.0  2.0  NaN  NaN
1  3.0  4.0  NaN  NaN
0  NaN  NaN  5.0  6.0
1  NaN  NaN  7.0  8.0

C:\Users\shamh\AppData\Local\Temp\ipykernel_16900\3503085641.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2)

In [6]:
print(df.shape)

(4, 4)

In [8]:
#head first 5 default
print(df.head(3))

     a    b    c    d
0  1.0  2.0  NaN  NaN
1  3.0  4.0  NaN  NaN
0  NaN  NaN  5.0  6.0

In [10]:
print(df.tail(2)) #last 5 default

    a   b    c    d
0 NaN NaN  5.0  6.0
1 NaN NaN  7.0  8.0

In [11]:
data = {'Name':['tom','jack','steve','ricky'], 'AGE':[28,29,29,40]}
df = pd.DataFrame(data)
print(df)

    Name  AGE
0    tom   28
1   jack   29
2  steve   29
3  ricky   40

In [12]:
print(df.sum())

Name    tomjackstevericky
AGE                   126
dtype: object

In [13]:
#mean - average
print(df.mean())

AGE    31.5
dtype: float64

C:\Users\shamh\AppData\Local\Temp\ipykernel_16900\130528764.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.mean())

In [14]:
#standard  deviation
print(df.std())

AGE    5.686241
dtype: float64

C:\Users\shamh\AppData\Local\Temp\ipykernel_16900\543400487.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.std())

In [15]:
#count
print(df.count())

Name    4
AGE     4
dtype: int64

In [16]:
#get all function of summarization
print(df.describe())

             AGE
count   4.000000
mean   31.500000
std     5.686241
min    28.000000
25%    28.750000
50%    29.000000
75%    31.750000
max    40.000000

In [17]:
#table wise
def adder(elm_1,elm_2):
    return elm_1+elm_2
df = pd.DataFrame(np.randn(5,3), columns = ['col1','col2','col3'])
df.pipe(adder,2)
print(df.apply(np.mean))

NameError: name 'np' is not defined

In [18]:
import numpy as np

In [20]:
#table wise
def adder(elm_1,elm_2):
    return elm_1+elm_2
df = pd.DataFrame(np.random.randn(5,3), columns = ['col1','col2','col3'])
df.pipe(adder,2)
print(df.apply(np.mean))

col1   -0.202636
col2    0.480505
col3    0.500972
dtype: float64

In [21]:
df = pd.DataFrame(np.random.randn(5,3), columns = ['col1','col2','col3'])
print(df)

       col1      col2      col3
0 -0.793211  0.844362  0.159770
1 -0.100959 -0.311964 -0.081613
2 -1.468288  0.412207 -0.211642
3  0.679553  1.091648  0.299290
4 -3.670593 -1.490234 -0.983305

In [26]:
N=20
df = pd.DataFrame({'A':np.random.normal(100,10,size=(N)).tolist(),
                  'x':np.random.rand(N),
                    'c':np.random.choice(['Low','Medium','High'],N).tolist()
                  })
df_reindexed = df.reindex(index=[0,2,5], columns = ['A','C'])
print(df_reindexed)

            A   C
0   98.444610 NaN
2  105.060478 NaN
5  100.758134 NaN

In [30]:
#INDEXING 
#SELCTING
df = pd.DataFrame(np.random.randn(8,4), index = ['a','b','c','d','e','f','g','h'], columns = ['A','B','C','D'])
print(df)
#loc()
#iloc()
#ix()

          A         B         C         D
a  0.056368  0.855529  1.336842 -0.322357
b  3.419232  0.831254  0.536662 -1.866243
c  0.339510  0.170222 -0.813928  0.507791
d -0.480157  0.775759  0.893946  0.349717
e -0.007248  0.898319 -0.693831 -0.891526
f -0.000387  1.803799  1.067118 -1.111036
g  0.560815 -0.323385  0.598955  0.738388
h  1.249557 -0.314760  0.385071  0.197373

In [31]:
print(df.loc[:,['A','C']])

          A         C
a  0.056368  1.336842
b  3.419232  0.536662
c  0.339510 -0.813928
d -0.480157  0.893946
e -0.007248 -0.693831
f -0.000387  1.067118
g  0.560815  0.598955
h  1.249557  0.385071

In [32]:
print(df.iloc[:4])

          A         B         C         D
a  0.056368  0.855529  1.336842 -0.322357
b  3.419232  0.831254  0.536662 -1.866243
c  0.339510  0.170222 -0.813928  0.507791
d -0.480157  0.775759  0.893946  0.349717

In [33]:
print(df.iloc[:2])

          A         B         C         D
a  0.056368  0.855529  1.336842 -0.322357
b  3.419232  0.831254  0.536662 -1.866243

In [34]:
print(df.iloc[3:7])

          A         B         C         D
d -0.480157  0.775759  0.893946  0.349717
e -0.007248  0.898319 -0.693831 -0.891526
f -0.000387  1.803799  1.067118 -1.111036
g  0.560815 -0.323385  0.598955  0.738388

In [35]:
print(df)

          A         B         C         D
a  0.056368  0.855529  1.336842 -0.322357
b  3.419232  0.831254  0.536662 -1.866243
c  0.339510  0.170222 -0.813928  0.507791
d -0.480157  0.775759  0.893946  0.349717
e -0.007248  0.898319 -0.693831 -0.891526
f -0.000387  1.803799  1.067118 -1.111036
g  0.560815 -0.323385  0.598955  0.738388
h  1.249557 -0.314760  0.385071  0.197373

In [36]:
#split -> group by
import pandas as pd
ipl_data = {
    'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings','kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
    'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
    'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
    'Points':[876,789,863,673,741,812,756,788,694,701,804,690]    
}

df = pd.DataFrame(ipl_data)
print(df)

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [37]:
import pandas as pd
left = pd.DataFrame({'id':[1,2,3,4,5],
                     'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
                     'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame({'id':[1,2,3,4,5],
                      'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
                      'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print(left)
print(right)

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5
   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5

In [38]:
print(pd.merge(left,right, on ='id'))

   id  Name_x subject_id_x Name_y subject_id_y
0   1    Alex         sub1  Billy         sub2
1   2     Amy         sub2  Brian         sub4
2   3   Allen         sub4   Bran         sub3
3   4   Alice         sub6  Bryce         sub6
4   5  Ayoung         sub5  Betty         sub5

In [40]:
print(pd.merge(left,right, on =['id','subject_id']))

   id  Name_x subject_id Name_y
0   4   Alice       sub6  Bryce
1   5  Ayoung       sub5  Betty

In [41]:
print(pd.datetime.now())

2023-02-07 20:32:38.367288

C:\Users\shamh\AppData\Local\Temp\ipykernel_16900\429486783.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  print(pd.datetime.now())

In [44]:
#making data with specifictime
print(pd.date_range("11:00","13:30",freq = "30min").time)

[datetime.time(11, 0) datetime.time(11, 30) datetime.time(12, 0)
 datetime.time(12, 30) datetime.time(13, 0) datetime.time(13, 30)]

In [47]:
#making data with specific days
print(pd.date_range("11/02/2023",periods = 5, freq = 'M'))

DatetimeIndex(['2023-11-30', '2023-12-31', '2024-01-31', '2024-02-29',
               '2024-03-31'],
              dtype='datetime64[ns]', freq='M')