In [1]:
a = "sham"
print(a)

sham

In [2]:
b = "sham"
print(a,"Hiruthik")

sham Hiruthik

In [ ]:
output formatting

In [4]:
x = 6
y = 7
print("sham got {} and {}".format(x,y))

sham got 6 and 7

In [5]:
print("sham got {name} and {name2}".format(name="tharun",name2="abishek"))

sham got tharun and abishek

In [ ]:
#input

In [ ]:
num =input("enter the no")
num

In [9]:
name, age, roll = input("enter the name, age, roll: ").split()
print(name,age)

enter the name, age, roll: sham 14 2345
sham 14

In [5]:
name = input("enter the name: ")
age = int(input("enter the no: "))
year = int(input("enter the no: "))

enter the name: sham
enter the no: 89
enter the no: 6008

In [14]:
name1 = input("enter the name")
age2, year = int(input("enter the age and year").split())
print(year)

enter the namess
enter the age and year34 56

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [11]:
import math
math.pi

3.141592653589793

In [12]:
math.asin

In [13]:
math.sqrt(9)

3.0