## Nested `for` loops

**Nested `for` loop** is a **`for`** loop inside another **`for`** a loop. 


**Syntax:**

```python
# outer for loop
for element in sequence 
   # inner for loop
    for element in sequence:
        body of inner for loop
    body of outer for loop
other statements
```

### `for` loop inside `for` loop

#### Example: Nested `for` loop 


<div>
<img src="img/nforloop1.png" width="600"/>
</div>

In [1]:
# Example 1: printing a multiplication table of the first ten numbers

# outer loop
for i in range(1, 11):
    # nested loop   
    for j in range(1, 11):   # to iterate from 1 to 10        
        print(i * j, end=' ')    # print multiplication
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [2]:
# Example 1:

person = {
    'first_name':'Ajantha',
    'last_name':'Devi',
    'age':96,
    'country':'India',
    'is_marred':True,
    'skills':['Python', 'Matlab', 'R', 'C', 'C++', 'AI', 'ML', 'DL'],
    'address':{
        'street':'Chennai',
        'zipcode':'600096'
    }
}
for key in person:
    if key == 'skills':
        for skill in person['skills']:
            print(skill)

Python
Matlab
R
C
C++
AI
ML
DL

In [3]:
# Example 2: Write a code to add all the prime numbers between 17 to 53 using while loop
# 17, 19, 23, 29, 31, 37, 41, 43, 47, 53

sum=0
for i in range(17,54):    
    for j in range(2,i):        
        if i%j ==0:            
            break    
    else:        
        sum=sum+i
        print(i)
print(sum)

17
19
23
29
31
37
41
43
47
53
340

In [4]:
# Example 3: iterating through nested for loops

color = ['Red', 'Pink']
element = ['flower', 'watch']
for i in color:
    for j in element:
        print(i, j)

Red flower
Red watch
Pink flower
Pink watch

In [5]:
# Example 4: A use case of a nested for loop in `list_of_lists` case would be

list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
total=0
for list1 in list_of_lists:
    for i in list1:
        total = total+i
print(total)

45

In [6]:
# Example 5:

numbers = [[1, 2, 3], [4, 5, 6]]

cnt = 0
for i in numbers:
    for j in i:
        print('iteration', cnt, end=': ')
        print(j)
        cnt = cnt + 1

iteration 0: 1
iteration 1: 2
iteration 2: 3
iteration 3: 4
iteration 4: 5
iteration 5: 6

#### Example: Nested `for` loop to print pattern

```python
*
* *
* * *
* * * *
* * * * *
```

```python
>>>rows = 5
   # outer loop
>>>for i in range(1, rows + 1):
       # inner loop
>>>    for j in range(1, i + 1):
>>>        print("*", end=" ")
>>>    print('')
```

<div>
<img src="img/nforloop2.png" width="600"/>
</div>

In [7]:
# Example 1: Method 1

rows = 5
for i in range(1, rows + 1):    # outer loop    
    for j in range(1, i + 1):   # inner loop
        print("*", end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *

In [8]:
# Example 1: Method 2 - Print Floyd Triangle with user input
		

ran = input("How many rows? ")

rang = int(ran)
k = 1
for i in range(1, rang+1):
    for j in range(1, i+1):
        print("*", end=" ")
        k = k + 1
    print()

How many rows? 7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [9]:
# Example 2: Method 1

for i in range(1,6):       # numbers from 0,1,2,3,4,5
    for j in range(1, i+1):  
        print(i, end=" ")  # print number    
    print(" ")             # line after each row to display pattern correctly

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [10]:
# Example 2: Method 2

rows = 6 
for num in range(rows):     # from 0,1,2,3,4,5
    for i in range(num):
        print(num,end=" ")  # print the number
    print(" ")              # line after each row to print

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [11]:
# Example 3: Method 3

n=5  # giving number of rows i want
x = 0
for i in range(0 , n):         # from 0 to 4
    x += 1                     # equivalent to x=x+1
    for j in range(0, i + 1):  # 0,1,2,3,4,5
        print(x , end=" ") 
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [12]:
# Example 4: Method 1

rows = 5
for row in range(1, rows+1):       # from 1
    for column in range(1, row+1): # from 1,2,3,4,5
        print(column, end=" ")
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [13]:
# Example 4: Method 2

for i in range (1, 6):  # rows from 1 to 5
    for j in range(i):  # column range(i)
        print (j + 1, end = ' ')
    print ()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [14]:
# Example 5: Method 1

for i in range (1,6):
    for j in range (i,0,-1):
        print(j, end=" ")
    print(" ")
    
"""
i = 1 2 3 4 5 

# loop 1
for i = 1, range (1,0,-1): j=1
i = 1, print: 1 

# loop 2
for  i =2, range (2,0,-1): j = 2,1
i = 2, print: 2,1
"""

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

'\ni = 1 2 3 4 5 \n\n# loop 1\nfor i = 1, range (1,0,-1): j=1\ni = 1, print: 1 \n\n# loop 2\nfor  i =2, range (2,0,-1): j = 2,1\ni = 2, print: 2,1\n'

In [15]:
# Example 5: Method 2

for i in range(0,5):
    for j in range(i+1,0,-1):
        print(j, end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [16]:
# Example 6: Example 1 reverse pyramid 


for i in range (1,6):            # rows from 1 to 5
    for j in range (5,i-1,-1):   # column range(5,0,-1) = 54321
        print ("*", end=" "),
    print (" ")

* * * * *
* * * *
* * *
* *
*

In [17]:
# Example 7: Example 2 reverse pyramid Method 2

for i in range(5,0,-1):  # range from 5 4 3 2 1
    for j in range(0,i): # range(0,5)=0 1 2 3 4
        print(i, end=" ")
    print(" ")
    
"""
i = 5 4 3 2 1 

# loop 1
for i = 5, range (0,5): j=5 4 3 2 1
i = 5, print: 5 5 5 5 5

# loop 2
for i = 4, range (0,4): j=4 3 2 1
i = 4, print: 4 4 4 4 
"""

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

'\ni = 5 4 3 2 1 \n\n# loop 1\nfor i = 5, range (0,5): j=5 4 3 2 1\ni = 5, print: 5 5 5 5 5\n\n# loop 2\nfor i = 4, range (0,4): j=4 3 2 1\ni = 4, print: 4 4 4 4 \n'

In [18]:
# Example 8: Method 1

for i in range(5,0,-1):  # rows range = 5 4 3 2 1 
    for j in range(1,i+1): # column range 
        print(j, end =" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

## `for ` loop in one line

In [19]:
# Example 1: regular `for` loop code

first = [3, 6, 9]
second = [30, 60, 90]
final = []
for i in first:
    for j in second:
        final.append(i+j)
print(final)

[33, 63, 93, 36, 66, 96, 39, 69, 99]

In [20]:
# Example 1: single line `for` loop code

first = [3, 6, 9]
second = [30, 60, 90]
final = [i+j for i in first for j in second]
print(final)

[33, 63, 93, 36, 66, 96, 39, 69, 99]

In [21]:
# Example 2: Print the even numbers by adding 1 to the odd numbers in the list

odd = [1, 5, 7, 9]
even = [i + 1 for i in odd if i % 2 == 1]
print(even)

[2, 6, 8, 10]

In [22]:
# Example 3:

final = [[x, y] for x in [30, 60, 90] for y in [60, 30, 90] if x != y]
print(final)

[[30, 60], [30, 90], [60, 30], [60, 90], [90, 60], [90, 30]]