# Loops in Python

<div>
<img src="img/loop1.png" width="200"/>
</div>

# Python `for` Loop

In this session, you'll learn to iterate over a sequence of elements using the different variations of **`for`** loop.

## Why use `for` loop?

### Syntax :

```python  
for element in sequence:
    body of for loop 
```


<div>
<img src="img/for0.png" width="400"/>
</div>

In [1]:
# Example 1: For loop 

words = ['one', 'two', 'three', 'four', 'five']

for i in words:
    print(i)

one
two
three
four
five

In [2]:
# Example 2: Calculate the average of list of numbers

numbers = [10, 20, 30, 40, 50]

# definite iteration
# run loop 5 times because list contains 5 items
sum = 0
for i in numbers:
    sum = sum + i
list_size = len(numbers)
average = sum / list_size
print(average)

30.0

## `for` loop with `range()` function



<div>
<img src="img/forrange.png" width="600"/>
</div>

In [3]:
# Example 1: How range works in Python?

# empty range
print(list(range(0)))

# using range(stop)
print(list(range(10)))

# using range(start, stop)
print(list(range(1, 10)))

[]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
# Example 2:

for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [5]:
# Example 3:

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
# Example 4:

for i in range (2, 12, 2):  # beginning 2 with distance of 2 and stop before 12
    print (i)

2
4
6
8
10

In [7]:
# Example 5:

num=2

for a in range (1,6):  # range (1,6) means numbers from 1 to 5, i.e., (1,2,3,4,5)
    print (num * a)

2
4
6
8
10

In [8]:
# Example 6: Find Sum of 10 Numbers

sum=0
for n in range(1,11):  # range (1,11) means numbers from 1 to 5, i.e., (1,2,3,4,5,6,7,8,9,10)
    sum+=n  
    print (sum)
    
'''
0+1 = 1
1+2 = 3
3+3 = 6
6+4 = 10
10+5 =15
21
28
36
45
45+10 = 55
'''

1
3
6
10
15
21
28
36
45
55

'\n0+1 = 1\n1+2 = 3\n3+3 = 6\n6+4 = 10\n10+5 =15\n21\n28\n36\n45\n45+10 = 55\n'

In [9]:
# Example 7: printing a series of numbers using for and range

print("Case 1:")
for i in range(5):  # Print numbers from 0 to 4
    print (i)

print("Case 2:")  
for i in range(5, 10):  # Print numbers from 5 to 9
    print (i)

print("Case 3:")
for i in range(5, 10, 2):  # Print numbers from 5 with distace 2 and stop before 10
    print (i)

Case 1:
0
1
2
3
4
Case 2:
5
6
7
8
9
Case 3:
5
7
9

## `for` loop with `if-else`

A **`for`** loop can have an optional **if-else** block. The **`if-else`** checks the condition and if the condition is **`True`** it executes the block of code present inside the **`if`** block and if the condition is **`False`**, it will execute the block of code present inside the **`else`** block.

In [10]:
# Example 1: Print all even and odd numbers

for i in range(1, 11):
    if i % 2 == 0:
        print('Even Number:', i)
    else:
        print('Odd Number:', i)

Odd Number: 1
Even Number: 2
Odd Number: 3
Even Number: 4
Odd Number: 5
Even Number: 6
Odd Number: 7
Even Number: 8
Odd Number: 9
Even Number: 10

## `for` loop with `else`

A **`for`** loop can have an optional **`else`** block as well. The **`else`** part is executed if the items in the sequence used in for loop exhausts.

**`else`** block will be skipped/ignored when:

* **`for`** loop terminate abruptly
* the **break statement** is used to break the **`for`** loop.

In [11]:
# Example 1:

digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

In [12]:
# Example 2:

for number in range(11):
    print(number)   # prints 0 to 10, not including 11
else:
    print('The loop stops at', number)

0
1
2
3
4
5
6
7
8
9
10
The loop stops at 10

In [13]:
# Example 3: Else block in for loop

for i in range(1, 6):
    print(i)
else:
    print("Done")

1
2
3
4
5
Done

In [ ]:
# Example 4:

student_name = 'Arthur'

marks = {'Alan': 99, 'Bill': 55, 'Cory': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

In [ ]:
# Example 5:

count = 0
for i in range(1, 6):
    count = count + 1
    if count > 2:
        break
    else:
        print(i)
else:
    print("Done")

## Reverse for loop

### Backward Iteration using the `reversed()` function

In [14]:
# Example 1: Reversed numbers using `reversed()` function

list1 = [10, 20, 30, 40]
for num in reversed(list1):
    print(num)

40
30
20
10

### Reverse for loop using `range()`

In [15]:
# Example 1:

print("Reverse numbers using for loop")
num = 5
# start = 5
# stop = -1
# step = -1
for num in (range(num, -1, -1)):
    print(num)

Reverse numbers using for loop
5
4
3
2
1
0

In [16]:
# Example 2:

print("reversed: \t",end="")
for ch in reversed("abc"):
    print(ch,end=";")

print("\nenuemerated:\t",end="")
for i,ch in enumerate("abc"):
    print(i,"=",ch,end="; ")
    
print("\nzip'ed: ")
for a,x in zip("abc","xyz"):
    print(a,":",x)

reversed: 	c;b;a;
enuemerated:	0 = a; 1 = b; 2 = c;
zip'ed:
a : x
b : y
c : z